<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>로그인</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>로그인</h2>-->
<!--<form th:action="@{/login}" method="post">-->
<!--  <label>아이디: <input type="text" name="username"/></label><br/>-->
<!--  <label>비밀번호: <input type="password" name="password"/></label><br/>-->
<!--  <button type="submit">로그인</button>-->
<!--</form>-->

<!--<p>아직 계정이 없으신가요? <a th:href="@{/register}">회원가입 하러 가기</a></p>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:action="@{/member/login}" method="post">-->
<!--  <div>-->
<!--    <label for="email">이메일</label>-->
<!--    <input type="email" name="email" id="email">-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="password">비밀번호</label>-->
<!--    <input type="password" name="password" id="password">-->
<!--  </div>-->
<!--  <br>-->
<!--  <input type="submit" value="로그인">-->

<!--</form>-->
<!--<a  th:href="@{/}">메인화면</a>-->
<!--</body>-->
<!--</html>-->