<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/member/signup}" method="post" th:object="${member}"
      onsubmit="return confirmPassword()">
    <div>
        <label for="email">이메일</label>
        <input type="email" name="email" id="email" th:field="*{email}" required>
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password" th:field="*{password}">
    </div>
    <div>
        <label for="password2">비밀번호 확인</label>
        <input type="password" name="password2" id="password2">
    </div>
    <div>
        <label for="nickname">닉네임</label>
        <input type="text" name="nickname" id="nickname" th:field="*{nickname}">
    </div>
    <br>
    <input type="submit" value="회원가입">

</form>
<a th:href="@{/}">메인화면</a>
<script>
    function confirmPassword(){
    const pw = document.querySelector("#password").value;
    const pw2 = document.querySelector("#password2").value;
    if(pw !== pw2){
    alert("비밀번호가 일치하지 않아요");
    return false; //폼을 post로 제출하는 것을 막는 것
    }
    return true; // 통과하면 submit 실행
    }
</script>

</body>
</html>