<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <div>
    <li><a th:href="@{/quiz}">퀴즈 목록</a></li>
    </div>
    <div>
        <li><a th:href="@{/quiz/insert}">퀴즈 등록</a></li>
    </div>
    <div th:href="@{/quiz/id}">퀴즈 수정 폼</div>
    <div th:href="@{/quiz/update}">퀴즈 수정</div>
    <div th:href="@{/quiz/delete}">퀴즈 삭제</div>
    <div th:href="@{/quiz/play}">퀴즈 플레이</div>
    <div th:href="@{/quiz/check}">퀴즈 답 체크</div>
</ul>
</body>
</html>